### Question 1

What's the version of NumPy that you installed?

You can get the version information using the __version__ field:

np.__version__

In [1]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\hoe\anaconda3\lib\site-packages (1.19.2)

In [3]:
import numpy as np
np.__version__

'1.19.2'

### Question 2

How many records are in the dataset?

Here you need to specify the number of rows.

In [4]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2022-09-11 22:49:07--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8003::154, 2606:50c0:8000::154, 2606:50c0:8002::154, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8003::154|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: 'data.csv'

     0K .......... .......... .......... .......... ..........  3% 6.47M 0s
    50K .......... .......... .......... .......... ..........  6% 55.5M 0s
   100K .......... .......... .......... .......... .......... 10% 12.5M 0s
   150K .......... .......... .......... .......... .......... 13% 28.8M 0s
   200K .......... .......... .......... .......... .......... 17% 18.1M 0s
   250K .......... .......... .......... .......... .......... 20% 15.0M 0s
   300K .......... .......... .......... .......... .......... 24% 20.4M 0s
   350K .......... .......... .......... .......... .......... 27% 45.2M 0s
   400K .......... .......... .......... .......... .......... 31% 41.4M 0s
   450K .......... .......... .......... .......... .......... 34% 46.3M 0s
   500K .......... .......... .......... .......... .......... 38% 27.5M 0s
   550K .......... .......... .......... .......... .......... 41% 32.6M 0s
   600K .......... .......... .......... .......... .......... 45% 11.0M 0s
   650K .......... .......... .......... .......... .......... 48% 40.1M 0s
   700K .......... .......... .......... .......... .......... 52% 21.6M 0s
   750K .......... .......... .......... .......... .......... 55% 41.6M 0s
   800K .......... .......... .......... .......... .......... 58% 52.9M 0s
   850K .......... .......... .......... .......... .......... 62% 27.4M 0s
   900K .......... .......... .......... .......... .......... 65% 20.9M 0s
   950K .......... .......... .......... .......... .......... 69% 53.3M 0s
  1000K .......... .......... .......... .......... .......... 72% 31.8M 0s
  1050K .......... .......... .......... .......... .......... 76% 58.5M 0s
  1100K .......... .......... .......... .......... .......... 79% 16.0M 0s
  1150K .......... .......... .......... .......... .......... 83% 38.2M 0s
  1200K .......... .......... .......... .......... .......... 86% 18.8M 0s
  1250K .......... .......... .......... .......... .......... 90% 32.6M 0s
  1300K .......... .......... .......... .......... .......... 93% 43.5M 0s
  1350K .......... .......... .......... .......... .......... 97% 28.7M 0s
  1400K .......... .......... .......... ..........           100% 34.2M=0.06s

2022-09-11 22:49:46 (23.9 MB/s) - 'data.csv' saved [1475504/1475504]

In [5]:
import pandas as pd
df = pd.read_csv('./data.csv')

In [8]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [7]:
df.shape

(11914, 16)

### Question 3

Who are the most frequent car manufacturers (top-3) according to the dataset?

* Chevrolet, Volkswagen, Toyota
* Chevrolet, Ford, Toyota
* Ford, Volkswagen, Toyota
* Chevrolet, Ford, Volkswagen

You should rely on "Make" column in this question.

In [10]:
df['Make'].value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

### Question 4

What's the number of unique Audi car models in the dataset?

* 3
* 16
* 26
* 34

In [11]:
df[df['Make'] == 'Audi']['Model'].nunique()

34

### Question 5

How many columns in the dataset have missing values?

* 5
* 6
* 7
* 8

In [13]:
df.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

### Question 6

1. Find the median value of "Engine Cylinders" column in the dataset.
2. Next, calculate the most frequent value of the same "Engine Cylinders".
3. Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
Now, calculate the median value of "Engine Cylinders" once again.

Has it changed?

Hint: refer to existing mode and median functions to complete the task.

* Yes
* No

In [15]:
df['Engine Cylinders'].median()

6.0

In [16]:
df['Engine Cylinders'].value_counts().head(3)

4.0    4752
6.0    4489
8.0    2031
Name: Engine Cylinders, dtype: int64

In [17]:
df_copy = df.copy()
df_copy['Engine Cylinders'] = df_copy['Engine Cylinders'].fillna(4)

In [18]:
df_copy['Engine Cylinders'].median()

6.0

### Question 7

1. Select all the "Lotus" cars from the dataset.
2. Select only columns "Engine HP", "Engine Cylinders".
3. Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
4. Get the underlying NumPy array. Let's call it X.
5. Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
6. Invert XTX.
7. Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
8. Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
9. What's the value of the first element of w?

In [19]:
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [36]:
df_c = df.copy()
df_c = df_c[df_c['Make'] == 'Lotus']
df_c = df_c[["Engine HP", "Engine Cylinders"]]

In [37]:
df_c = df_c.drop_duplicates()

In [38]:
df_c.shape

(9, 2)

In [39]:
X = df_c.to_numpy()
XTX = np.dot(X.T, X)

In [40]:
XTX = np.linalg.inv(XTX)

In [41]:
XTX

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [42]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [44]:
#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.

XTX = np.multiply(np.linalg.inv(XTX), X.T)
w = np.dot(XTX, y)

ValueError: operands could not be broadcast together with shapes (2,2) (2,9)